:root {
    --cell-closed: #567d2e;
    --bomb-opened: #e07102;
    --cell-opened: #733709;
    --one-color: #55CEFF;
    --two-color: #55C233;
    --three-color: #d40000;
    --four-color: #00008B;
    --five-color: brown;
    --six-color: turquoise;
    --seven-color: black;
    --eight-color: white;
    --modal-background: url(./src/assets/images/bark.jpg);
    --modal-border: rgb(119, 45, 20);
    --modal-text: rgb(53, 227, 14);
    --modal-text-background: url(./src/assets/images/leaf.jpg);
    --modal-button-background: rgb(183, 77, 20);
    --menu-background: url(./src/assets/images/menu-bark.jpg);
    --header-color: #55C233;
    --menu-btns-background: url(./src/assets/images/wood.jpg);
    --button-text-color: black;
    --menu-text-color: #462105;
    --button-text-active-color: #532705;
    --button-active-color: #412007;
}

body {
    background: url(./src/assets/images/forest.jpg);
}

.main-field {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.main-field__cell {
    box-sizing: border-box;
    width: 10%;
    height: 10%;
    border: 1px solid var(--cell-closed);
    background: url(./src/assets/images/grass.jpg);
    font-size: 40px;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-field__cell:hover {
    cursor: pointer;
}

.main-field__cell_opened {
    background: url(./src/assets/images/earth.jpg);
    border-color: var(--cell-opened);
}

.main-field__cell_opened:hover {
    cursor: default;
}

.main-field__bomb_opened {
    background: url(./src/assets/images/explosion.jpg);
    border-color: var(--bomb-opened);
}

.main-field__cell_1 {
    color: var(--one-color);
}

.main-field__cell_2 {
    color: var(--two-color);
}

.main-field__cell_3 {
    color: var(--three-color);
}

.main-field__cell_4 {
    color: var(--four-color);
}

.main-field__cell_5 {
    color: var(--five-color);
}

.main-field__cell_6 {
    color: var(--six-color);
}

.main-field__cell_7 {
    color: var(--seven-color);
}

.main-field__cell_8 {
    color: var(--eight-color);
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 41, 41, 0.6);
}

.game-modal {
    width: 30%;
    height: 80%;
    margin: 5% auto;
    background: var(--modal-background);
    background-repeat: no-repeat;
    background-size: 200%;
    border: 5px solid var(--modal-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.game-modal__alert-wrapper {
    width: 400px;
    text-align: center;
    border: 3px solid var(--cell-closed);
    background: var(--modal-text-background);
    border-radius: 10px;
}

.game-modal__alert {
    font-family: Arial;
    font-size: 30px;
    color: var(--header-color);
}

.game-modal__button {
    width: 300px;
    height: 90px;
    background-color: var(--modal-button-background);
    border: 3px solid var(--modal-border);
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
    color: var(--button-text-color);
}

.game-modal__button:hover {
    background-color: var(--cell-opened);
    cursor: pointer;
}

.game-modal__button:active {
    background-color: var(--button-active-color);
    color: var(--button-text-active-color);
}

.menu-field {
    margin: 0 auto 25px;
    width: 800px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid var(--modal-border);
    background: var(--menu-background);
    display: flex;
    flex-direction: column;
}

.menu-field__btns-wrapper {
    margin: auto;
    width: 600px;
    background: var(--menu-btns-background);
    background-size: 100%;
    border: 5px solid var(--cell-opened);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-field__header-wrapper {
    margin: auto;
    width: 400px;
    background: var(--modal-text-background);
    border: 5px solid var(--cell-closed);
    border-radius: 100px;
    font-family: Arial;
}

.menu-field__header {
    margin: 0;
    text-align: center;
    color: var(--header-color);
}

.menu-field__restart-button {
    padding: 5px 10px;
    background-color: var(--modal-button-background);
    border: 3px solid var(--modal-border);
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    color: var(--button-text-color);
}

.menu-field__restart-button:hover {
    background-color: var(--cell-opened);
    cursor: pointer;
}

.menu-field__restart-button:active {
    background-color: var(--button-active-color);
    color: var(--button-text-active-color);
}


.menu-counter {
    font-size: 20px;
    font-family: Arial;
    color: var(--menu-text-color);
}