:root {
    --main-border: #567d2e;
    --bomb-opened: #e07102;
    --secondary-border: #733709;
    --header-color: #55C233;
    --menu-text-color: #462105;
    --modal-button-background: rgb(183, 77, 20);
    --modal-button-text-color: black;
    --button-active-color: #412007;
    --one-color: #55CEFF;
    --two-color: #55C233;
    --three-color: #d40000;
    --four-color: #00008B;
    --five-color: brown;
    --six-color: turquoise;
    --seven-color: black;
    --eight-color: white;
    --main-background: url(./src/assets/images/forest.jpg);
    --menu-background: url(./src/assets/images/wood.jpg);
    --menu-wrapper-background: url(./src/assets/images/menu-bark.jpg);
    --cell-closed-background: url(./src/assets/images/grass.jpg);
    --cell-opened-background: url(./src/assets/images/earth.jpg);
    --cell-bomb-background: url(./src/assets/images/explosion.jpg);
    --modal-background: url(./src/assets/images/bark.jpg);
    --modal-header-background: url(./src/assets/images/leaf.jpg);
}

html {
    font-size: 10px;
}

body {
    background: var(--main-background);
}

.main-field {
    margin: 0 auto;
    width: 33vw;
    height: 33vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.main-field__cell {
    box-sizing: border-box;
    width: calc(33vw / 10);
    height: calc(33vw / 10);
    border: 1px solid var(--main-border);
    background: var(--cell-closed-background);
    font-size: 4rem;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-field__cell:hover {
    cursor: pointer;
}

.main-field__cell_opened {
    background: var(--cell-opened-background);
    border-color: var(--secondary-border);
}

.main-field__cell_opened:hover {
    cursor: default;
}

.main-field__bomb_opened {
    background: var(--cell-bomb-background);
    border-color: var(--bomb-opened);
}

.main-field__cell_1 {
    color: var(--one-color);
}

.main-field__cell_2 {
    color: var(--two-color);
}

.main-field__cell_3 {
    color: var(--three-color);
}

.main-field__cell_4 {
    color: var(--four-color);
}

.main-field__cell_5 {
    color: var(--five-color);
}

.main-field__cell_6 {
    color: var(--six-color);
}

.main-field__cell_7 {
    color: var(--seven-color);
}

.main-field__cell_8 {
    color: var(--eight-color);
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 41, 41, 0.6);
}

.game-modal {
    width: 400px;
    height: 500px;
    margin: 5% auto;
    background: var(--modal-background);
    background-repeat: no-repeat;
    background-size: 200%;
    border: 5px solid var(--secondary-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-modal__header-wrapper {
    width: 400px;
    text-align: center;
    border: 3px solid var(--main-border);
    background: var(--modal-header-background);
    border-radius: 10px;
}

.game-modal__header {
    font-family: Arial;
    font-size: 3rem;
    color: var(--header-color);
}

.game-modal__button {
    width: 300px;
    height: 90px;
    background-color: var(--modal-button-background);
    border: 3px solid var(--secondary-border);
    border-radius: 10px;
    font-family: Arial;
    font-size: 3rem;
    color: var(--modal-button-text-color);
}

.game-modal__button:hover {
    background-color: var(--secondary-border);
    cursor: pointer;
}

.game-modal__button:active {
    background-color: var(--button-active-color);
    color: var(--secondary-border);
}

.menu-field {
    margin: 0 auto 25px;
    width: 800px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid var(--secondary-border);
    background: var(--menu-wrapper-background);
    display: flex;
    flex-direction: column;
}

.menu-field__btns-wrapper {
    margin: auto;
    padding: 10px 0;
    width: 600px;
    background: var(--menu-background);
    background-size: 100%;
    border: 5px solid var(--secondary-border);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.menu-field__header-wrapper {
    margin: auto;
    width: 400px;
    background: var(--modal-header-background);
    border: 5px solid var(--main-border);
    border-radius: 100px;
    font-family: Arial;
}

.menu-field__header {
    margin: 0;
    text-align: center;
    color: var(--header-color);
    font-size: 3rem;
}

.menu-field__button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--header-color);
    border: 3px solid var(--main-border);
    border-radius: 10px;
    font-family: Arial;
    font-size: 2rem;
    color: var(--main-border);
}

.menu-field__button:hover {
    cursor: pointer;
    background-color: var(--secondary-border);
}

.menu-field__button:active {
    background-color: var(--button-active-color);
    color: var(--secondary-border);
}

.menu-field__sound-button:hover {
    background-color: var(--header-color);
}

.menu-field__sound-button:active {
    background-color: var(--header-color);
    color: var(--main-border);
}

.menu-counter {
    margin: 10px 0 0;
    font-size: 2rem;
    font-family: Arial;
    color: var(--menu-text-color);
}

.sound-off {
    background-color: var(--secondary-border);
    border: 3px solid var(--three-color);
    color: var(--three-color);
}

.sound-off:hover {
    background-color: var(--secondary-border);
}

.sound-off:active {
    background-color: var(--secondary-border);
    color: var(--three-color);
}

.toggler__wrapper {
    margin: 0;
    height: auto;
}

.toggler {
    margin: 0;
    width: 100px;
    padding: 5px 10px;
    background-color: var(--header-color);
    border: 3px solid var(--main-border);
    border-radius: 10px;
    font-family: Arial;
    font-size: 2rem;
    color: var(--main-border);
}

.toggler:hover {
    cursor: pointer;
}

.game-modal__close-button {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    align-self: flex-end;
    background-color: var(--three-color);
    border: 3px solid var(--secondary-border);
    border-radius: 50px;
    color: var(--secondary-border);
    font-size: 3rem;
}

.game-modal__close-button:hover {
    cursor: pointer;
    background-color: var(--secondary-border);
    border: 3px solid var(--three-color);
    color: var(--three-color);
}

.score-table {
    width: 400px;
    height: 400px;
    background-color: var(--header-color);
    border: 3px solid var(--main-border);
    border-radius: 10px;
}

.score-table__row {
    border: 2px solid var(--main-border);
}

.score-table__header-cell {
    text-align: center;
    font-size: 2rem;
    color: var(--main-border);
}

.score-table__cell {
    text-align: center;
    font-size: 2rem;
    color: var(--main-border);
}

.menu-field__bottom-button {
    margin: 0 0 2px;
}

.theme-toggler-button {
    width: 60px;
    height: 60px;
    background: var(--cell-opened-background);
    border: 2px solid var(--main-border);
    border-radius: 30px;
    position: absolute;
    right: 26vw;
    top: 25px;
    font-size: 1.25rem;
    color: var(--main-border);
}

.theme-toggler-button:hover {
    cursor: pointer;
}